
body{
  margin: 0;
  padding-top: 100px;
  box-sizing: border-box;

}

nav{
background-color: lightcoral;
height: 100px;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
}
nav ul{
  display: flex;
  justify-content: space-around;
  width: 500px;
  list-style: none;
}


